

/*contactus*/
#photo{
background-color:#fbe1b1;
width:auto;
height:300px;
}
body {
margin: 0;
padding: 0;
}
.mapsize{width:560px; height:350px; 
border:0; 
border-radius:30px; margin: 200px 0px 0px 60px; }
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
*, *:before, *:after {
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
body {
background:#fbe1b1;
font-size: 12px;
}
button, input {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 1.4px;
}
.background {
display: flex;
min-height: 100vh;
}
/*#map{ background-color:blue;
width:600px;
height:380px;
margin: 170px 0px 0px 100px;
border-radius: 20px;
}*/
.container {
flex: 0 1 700px;
margin: auto;
margin-right:150px;
padding: 0px 0px 0px 100px;
}
.screen {
position: relative;
background:#ff643d;
border-radius: 15px;
}
.screen:after {
content: '';
display: block;
position: absolute;
top: 0;
left: 20px;
right: 20px;
bottom: 0;
border-radius: 15px;
box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
z-index: -1;
}
.screen-header {
display: flex;
align-items: center;
padding: 10px 20px;
background:#ff7e33;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.screen-header-left {
margin-right: auto;
}
.screen-header-button {
display: inline-block;
width: 8px;
height: 8px;
margin-right: 3px;
border-radius: 8px;
background: white;
}
.screen-header-button.close {
background: #dc143c;
}
.screen-header-button.maximize {
background: #e8e925;
}
.screen-header-button.minimize {
background: #74c54f;
}
.screen-header-right {
display: flex;
}
.screen-header-ellipsis {
width: 3px;
height: 3px;
margin-left: 2px;
border-radius: 8px;
background: white;
}
.screen-body {
display: flex;
}
.screen-body-item {
flex: 1;
padding: 50px;
}
.screen-body-item.left {
display: flex;
flex-direction: column;
}
.app-title {
display: flex;
flex-direction: column;
position: relative;
color: white;
font-size: 26px;
}
/*.app-title:after {
content: '';
display: block;
position: absolute;
left: 0;
bottom: -10px;
width: 25px;
height: 4px;
background: #ea1d6f;
}*/
.app-contact {
margin-top: auto;
font-size: 8px;
color: #888;
}
.app-form-group {
margin-bottom: 15px;
}
.app-form-group.message {
margin-top: 40px;
}
.app-form-group.buttons {
margin-bottom: 0;
text-align: right;
}
.app-form-control {
width: 100%;
padding: 10px 0;
background: none;
border: none;
border-bottom: 1px solid white;
color: white;
font-size: 14px;
text-transform: uppercase;
outline: none;
transition: border-color .2s;
}
.app-form-control::placeholder {
color: white;
}
.app-form-control:focus {
border-bottom-color: #ff7e33;
}
.app-form-button {
background: none;
border: none;
color: white;
font-size: 14px;
cursor: pointer;
outline: none;
}
.app-form-button:hover {
color: #b9134f;
}
.dribbble {
width: 20px;
height: 20px;
margin: 0 5px;
}
(max-width: 520px) {
.screen-body {
flex-direction: column;
}
.screen-body-item.left {
margin-bottom: 30px;
}
.app-title {
flex-direction: row;
}
.app-title span {
margin-right: 12px;
}
.app-title:after {
display: none;
}
}
@media screen and (max-width: 600px) {
.screen-body {
padding: 40px;
}
.screen-body-item {
padding: 0;
}
}
#design{ 
width: 100%;
height: 60px;
background-color:#ff643d;
padding-top:10px;
margin-top:10px;
/*position: fixed;*/
}
.design{
padding: 0px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
}
@media only screen and (max-width: 768px) {
/*Header & Footer*/
#photo{
width: 360px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -30px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: -30px 0px 0px 20px;
font-size:12px;}
ul .index a{
font-size:16px;
margin-left:3px;}
input[type=submit] {font-size:10px;}
#design{width: 100%;
height: 40px;
margin: -20px 0px 0px 0px; }
.design{ font-size:12px;
text-align:center;
margin: 10px 0px 0px -10px;
}
/*Header & Footer*/
.mapsize{ width:300px;
height:200px;
border:0; 
border-radius:30px; 
margin: 40px 0px 0px 30px; }
.screen{ 
width: 300px;
height: 340px;
margin: 200px 0px 0px -400px; }
.screenheader{ width:auto;
height:10px; }
.app-title{font-size: 14px;
margin: -20px 0px 0px -20px;}
.app-form-control{font-size: 10px;
margin: 2px 0px -20px -50px;
width: 200px;
border-bottom: 1px solid white;}
.app-form-button {
background: none;
border: none;
color: white;
font-size: 10px;
cursor: pointer;
outline: none;
margin: 20px 0px 0px 20px;
}
#map{width:360px;
height:600px;}
.background{width:360px;
height:600px;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
/*header*/
#photo{
width: 768px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 300px; }
input[type=submit] {font-size: 10px;
margin: 0px -110px 0px 110px;;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 60px;
margin:-60px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.mapsize{ width:700px;
height:400px;
border:0; 
border-radius:30px; 
margin: 40px 0px 0px 30px; }
.screen{ 
width: 700px;
height: 400px;
margin: 330px 0px 0px -430px; }
.screenheader{ width:auto;
height:10px; }
.app-title{font-size: 20px;
margin: -20px 0px 0px 0px;}
.app-form-control{font-size: 14px;
margin: 2px 0px -20px -50px;
}
.app-form-button {
background: none;
border: none;
color: white;
font-size: 14px;
cursor: pointer;
outline: none;
margin: 20px 0px 0px 20px;
}
#map{width:360px;
height:600px;}
.background{width: 768px;
height: 500px;}
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
/*header*/
#photo{
width: 100%;
height: 210px;
}
.e { width:150px;
height: 150px;
margin: 13px 100px -1px 120px; }
input[type=submit] {font-size: 10px;
margin:-49px -254px -1px 257px;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin:20px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.mapsize{ width:350px;
height:200px;
border:0; 
border-radius:30px; 
margin: 40px 0px 0px 30px; }
.screen{ 
width: 350px;
height: 340px;
margin: 200px 0px 0px -443px; }
.screenheader{ width:auto;
height:10px; }
.app-title{font-size: 14px;
margin: -20px 0px 0px -20px;}
.app-form-control{font-size: 10px;
margin: 2px 0px -20px -50px;
width: 200px;
border-bottom: 1px solid white;}
.app-form-button {
background: none;
border: none;
color: white;
font-size: 10px;
cursor: pointer;
outline: none;
margin: 20px 0px 0px 20px;
}
#map{width:400px;
height:600px;}
.background{width:360px;
height:600px;}
}