

/*index*/
#photo{
background-color:#fbe1b1;
width:100%;
height:300px;
}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
body {
margin: 0;
padding: 0;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
.im{ border-top-left-radius:100px;
width:46%;
height:286px;
margin:10px 0px 0px 20px;
}
#bb{ width:100%;
height:100%;
background-color:blue;
padding-top:-100px;
margin-top:-6px; }
.mm{ border-bottom-right-radius:100px;
width:46%;
height:286px;
margin:5px 0px 0px 385px;
border: 2px red; 
}
#im{ background-color:#fbe1b1;
width:50%;
height:600px;
padding-top:0px;
margin: 305px 0px 0px 0px;
}
#dd{ background-color:white;
width:43%;
height:275px;
padding:10px 0px 0px 20px;
margin:-290px 0px 0px 385px;
border-top-right-radius:100px;
float:left;
}
#gg{ background-color:white;
width:43%;
height:275px;
padding:10px 0px 0px 20px;
margin:0px 0px 0px 0px;
border-bottom-left-radius:100px;
margin:-290px 0px 0px 20px;
float:left;
}
#d{ background-color:#fbe1b1;
width:100%;
height:300px;
padding-top:0px;
margin: 0px 0px 0px 0px; }
#g{ background-color:#fbe1b1;
width:100%;
height:300px;
padding-top:0px;
margin: 0px 0px 0px 0px; }
.coffee{ margin: 5px 0px 0px 30px; 
font-family:Arial;
font-weight: bold;
font-size:20px;
color:#c2002a;
}
.aboutcoffee{ 
display:block;
margin: 5px 30px 0px 5px; 
padding:10px 0px 0px 2px;
font-family:Arial;
font-size:12px;
line-height:25px;
color:#c2002a;
}
.cake{ margin: 5px 0px 0px 30px;
font-family:Arial;
font-weight: bold;
font-size:20px;
color:#c2002a; 
}
.aboutcake{ 
display:block;
margin: 5px 30px 0px 16px; 
padding:10px 0px 0px 10px;
font-family:Arial;
font-size:12.5px;
line-height:25px;
color:#c2002a;
}
#accor{ background-color:#FFA07A;
float:right;
width:50%;
height:600px;
margin: -600px 0px 0px 0px; }
/*accordian part*/
.accordion {
background-color: #FFA07A;
color: #444;
height:87px;
cursor: pointer;
padding: 20px;
width: 100%;
border: none;
text-align: center;
outline: none;
font-size: 15px;
transition: 0.4s;
font-family: Courier;
font-weight:bold;
font-size:25px;
color:#c2002a;
}
.active, .accordion:hover {
background-color: #FFDAB9; 
}
.panel {
padding: 0 20px;
display: none;
background-color:   #FFEFD5;
overflow: hidden;
font-family: Courier;
font-size:20px;
color:#c2002a;
padding:0px 0px 0px 200px;
}
/*accordian part*/
#slider1_container{
position: relative;
top: 0px;
left: 0.5px;
width: 600px;
height: 300px;
visibility: visible;}
/*#slides{position: absolute;
left: 0.5px; top: 0px;
width:1517.2px;
height: 600px;
overflow: hidden;}*/
#design{ 
width: 100%;
height: 60px;
background-color:#ff643d;
padding-top:10px;
/*position: fixed;*/
left: 0;
bottom: 0;
}
.design{
padding: 0px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
}
.nn{ margin-top: -43px;
padding: 0px 0px 350px 120px;
color:white;
font-family:Comic Sans MS;
font-weight:bold;
font-size:20px;
text-align:center; }
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
#slider1_container{
position: relative; top: 0px; left: 0.5px; width: 600px;
height: 300px; 
}
.jssora051 {display:block;position:absolute;cursor:pointer;
width:60px;height:60px;top:0px;left:15px;padding-top:500px;data-autocenter="2" data-scale="0.75" data-scale-left="0.75";
}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
.jssora052 {display:block;position:absolute;cursor:pointer;
width:60px;height:60px;top:0px;right:0px;left:1430px;padding-top:500px;data-autocenter="2" data-scale="0.75" data-scale-right="0.75";
}
.jssora052 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora052:hover {opacity:.8;}
.jssora052.jssora052dn {opacity:.5;}
.jssora052.jssora052ds {opacity:.3;pointer-events:none;}
.myslide{
position: absolute; 
left: 0.5px; 
top: 0px; 
width:1517.2px; 
height: 600px;
overflow: hidden;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
#photo{
background-color:#fbe1b1;
width:100%;
height:300px;
}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
body {
margin: 0;
padding: 0;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
.im{ border-top-left-radius:100px;
width:46%;
height:286px;
margin:10px 0px 0px 20px;
}
#bb{ width:100%;
height:100%;
background-color:blue;
padding-top:-100px;
margin-top:-6px; }
.mm{ border-bottom-right-radius:100px;
width:46%;
height:286px;
margin:5px 0px 0px 385px;
border: 2px red; 
}
#im{ background-color:#fbe1b1;
width:50%;
height:600px;
padding-top:0px;
margin: 305px 0px 0px 0px;
}
#dd{ background-color:white;
width:43%;
height:275px;
padding:10px 0px 0px 20px;
margin:-290px 0px 0px 385px;
border-top-right-radius:100px;
float:left;
}
#gg{ background-color:white;
width:43%;
height:275px;
padding:10px 0px 0px 20px;
margin:0px 0px 0px 0px;
border-bottom-left-radius:100px;
margin:-290px 0px 0px 20px;
float:left;
}
#d{ background-color:#fbe1b1;
width:100%;
height:300px;
padding-top:0px;
margin: 0px 0px 0px 0px; }
#g{ background-color:#fbe1b1;
width:100%;
height:300px;
padding-top:0px;
margin: 0px 0px 0px 0px; }
.coffee{ margin: 5px 0px 0px 30px; 
font-family:Arial;
font-weight: bold;
font-size:20px;
color:#c2002a;
}
.aboutcoffee{ 
display:block;
margin: 5px 30px 0px 5px; 
padding:10px 0px 0px 2px;
font-family:Arial;
font-size:12px;
line-height:25px;
color:#c2002a;
}
.cake{ margin: 5px 0px 0px 30px;
font-family:Arial;
font-weight: bold;
font-size:20px;
color:#c2002a; 
}
.aboutcake{ 
display:block;
margin: 5px 30px 0px 16px; 
padding:10px 0px 0px 10px;
font-family:Arial;
font-size:12.5px;
line-height:25px;
color:#c2002a;
}
#accor{ background-color:#FFA07A;
float:right;
width:50%;
height:600px;
margin: -600px 0px 0px 0px; }
/*accordian part*/
.accordion {
background-color: #FFA07A;
color: #444;
height:87px;
cursor: pointer;
padding: 20px;
width: 100%;
border: none;
text-align: center;
outline: none;
font-size: 15px;
transition: 0.4s;
font-family: Courier;
font-weight:bold;
font-size:25px;
color:#c2002a;
}
.active, .accordion:hover {
background-color: #FFDAB9; 
}
.panel {
padding: 0 20px;
display: none;
background-color:   #FFEFD5;
overflow: hidden;
font-family: Courier;
font-size:20px;
color:#c2002a;
padding:0px 0px 0px 200px;
}
/*accordian part*/
#slider1_container{
position: relative;
top: 0px;
left: 0.5px;
width: 100%;
height: 300px;
visibility: visible;}
/*#slides{position: absolute;
left: 0.5px; top: 0px;
width:1517.2px;
height: 600px;
overflow: hidden;}*/
#design{ 
width: 100%;
height: 60px;
background-color:#ff643d;
padding-top:10px;
/*position: fixed;*/
left: 0;
bottom: 0;
}
.design{
padding: 0px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
}
.nn{ margin-top: -43px;
padding: 0px 0px 350px 120px;
color:white;
font-family:Comic Sans MS;
font-weight:bold;
font-size:20px;
text-align:center; }
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
#slider1_container{
position: relative; top: 0px; left: 0.5px; width: 600px;
height: 300px; 
}
.jssora051 {display:block;position:absolute;cursor:pointer;
width:60px;height:60px;top:0px;left:15px;padding-top:500px;data-autocenter="2" data-scale="0.75" data-scale-left="0.75";
}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
.jssora052 {display:block;position:absolute;cursor:pointer;
width:60px;height:60px;top:0px;right:0px;left:1430px;padding-top:500px;data-autocenter="2" data-scale="0.75" data-scale-right="0.75";
}
.jssora052 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora052:hover {opacity:.8;}
.jssora052.jssora052dn {opacity:.5;}
.jssora052.jssora052ds {opacity:.3;pointer-events:none;}
.myslide{
position: absolute; 
left: 0.5px; 
top: 0px; 
width:1517.2px; 
height: 600px;
overflow: hidden;
}
}
/* Desktops and laptops ----------- */
@media only screen and (max-width: 740px) {
#photo{
width:100%;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -30px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: -30px 0px 0px 20px;
font-size:12px;}
ul .index a{
font-size:16px;
margin-left:3px;}
input[type=submit] {font-size:10px;}
#bb{
width:360px;
height:300px;
}
.im{
width: 165px;
height: 140px;
margin: 5px 0px 0px 10px;
border-top-left-radius: 70px;
}
.mm{
width: 165px;
height: 140px;
margin: -500px 0px 0px 183px;
border-bottom-right-radius: 70px;
}
#im{width:auto;
height:300px;}
#g{margin: -23px 0px 0px 0px;}
#accor{width:360px;
height:300px;
margin: 0px 0px 0px 100px;}
#d{width:360px;
height:300px;
margin-top:100px;}
#dd{
width: 150px;
height: 130px;
margin: -143px 0px 0px 183px;
border-top-right-radius: 70px;}
#gg{width: 145px;
height: 130px;
margin: -143px 0px 0px 10px;
border-bottom-left-radius: 70px;}
.panel{ font-size:10px;
margin: 0px 0px 0px -120px; }
.accordion{font-size:15px;
width:360px;
height:20px;}
#design{width:100%;
height: 40px;
margin: 300px 0px 0px 0px; }
.design{ font-size:12px;
text-align:center;
margin: 10px 0px 0px -10px;
}
#mm{width:360px;
height:300px;}
.aboutcoffee{width: 132px;
height: 130px;
margin: 0px 0px 0px -10px;
font-size: 5.5px;
display: block;
padding: 0px 0px 0px 0px;
width: 143px;
line-height: 12px;
border-radius: 100px;}
.cake{font-size:10px; }
.aboutcake{width: 130px;
height: 130px;
margin: 0px 0px 0px -5px;
font-size: 5.5px;
display: block;
padding: 0px 0px 0px 0px;
width: 143px;
line-height: 12px;}
.coffee{ font-size:10px; }
#slider1_container{ position: relative;
top: 0px;
left: 0.5px;
height: 200px;
width:360px; }
.myslide{width:360px;
height:300px;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
/*header*/
#photo{
width:100%;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 300px; }
input[type=submit] {font-size: 10px;
margin: 0px -110px 0px 110px;;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin: 523px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
}
/*footer*/
#bb{
width: 768px;
height: 400px;
margin: 0px 0px 0px 0px;
}
.im{
width: 47%;
height:280px;
margin: 10px 0px 0px 10px;
border-top-left-radius: 70px;
}
.mm{
width: 49%;
height: 280px;
margin: -500px 0px 10px 380px;
border-bottom-right-radius: 70px
}
#im{width:auto;
height:300px;}
#g{margin: -23px 0px 0px 0px;}
#d{width: 100%;
height: 600px;
margin-top:0px;}
#dd{
width: 46%;
height: 271px;
margin: -284px 0px 0px 380px;
border-top-right-radius: 70px;;}
#gg{width: 44%;
height: 269px;
margin: -293px 0px 0px 10px;
border-bottom-left-radius: 70px;}
.panel{ font-size:10px;
margin: 0px 0px 0px -120px; }
#accor{width:768px;
height:330px;
margin: 0px  0px 0px 0px;}
.accordion{font-size:15px;
width:768px;
height:20px;
margin: 10px 0px 0px -10px;}
#mm{width:360px;
height:300px;}
.aboutcoffee{height: 90%;
margin: 10px 0px 0px 10px;
font-size: 12px;
display: block;
padding: 0px 0px 0px 0px;
width: 90%;
line-height: 25px;
border-radius: 100px;}
.cake{font-size:20px; }
.aboutcake{height: 90%;
margin: 10px 10px 0px 10px;
font-size: 12px;
display: block;
padding: 0px 0px 0px 0px;
width: 90%;
line-height: 25px;}
.coffee{ font-size:20px; }
#slider1_container{ position: relative;
top: 0px;
left: 0.5px;
height: 200px;
width:360px; }
.myslide{width:360px;
height:300px;}
}

