

/*menu*/
#photo{
background-color:#fbe1b1;
width:auto;
height:300px;
}
body {
margin: 0;
padding: 0;
background-color:#fbe1b1;
}
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
.modal {
z-index:1;
display:none;
padding-top:10px;
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color:rgb(0,0,0);
background-color:rgba(0,0,0,0.8)
}
.modal-content{
margin: auto;
display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.modal-hover-opacity {
opacity:1;
filter:alpha(opacity=100);
-webkit-backface-visibility:hidden
}
.modal-hover-opacity:hover {
opacity:0.60;
filter:alpha(opacity=60);
-webkit-backface-visibility:hidden;
border-radius:20px;
}
.close {
text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white;
border-radius:20px;
}
.container1 {
width:460px;
height:266px;
display:inline-block;
padding:20px 20px 20px 23px;
border-radius:20px;
}
.modal-content, #caption {   
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.3s;
animation-name: zoom;
animation-duration: 0s;
border-radius:20px;
}
@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}
@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}
#menu{text-align:center;
margin: 20px 0px 0px 0px;
font-size: 30px;
color:#ff3401;
text-decoration: underline;
}
.coffee{text-align:center;
margin: 10px 0px 0px 0px;
font-size: 20px;
color:#ff3401;
}
#design{ 
width: 100%;
height: 60px;
margin-top:10px;
padding-top:10px;
background-color:#ff643d;
/*position: fixed;*/
left: 0;
bottom: 0;
}
.design{
padding: 0px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
}
@media only screen and (max-width: 768px) {
/*Header & Footer*/
#photo{
width: 360px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -30px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: -30px 0px 0px 20px;
font-size:12px;
}
ul .index a{
font-size:16px;
margin-left:3px;}
input[type=submit] {font-size:10px;}
#design{width:100%;
height: 40px;
margin: 20px 0px 0px 0px; }
.design{ font-size:12px;
text-align:center;
margin: 10px 0px 0px -10px;
}
/*Header & Footer*/
#menu{
font-size:12px;
}
.container1{
width: 100px;
height: 100px;
display: inline-block;
padding: 10px 0px 0px 12px;
}
.coffee{
font-size:10px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
/*header*/
#photo{
width: 768px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 300px; }
input[type=submit] {font-size: 10px;
margin: 0px -110px 0px 110px;;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin:20px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.container1{
width: 340px;
height: 300px;
display: inline-block;
padding: 30px 0px 0px 30px;
}
#menu{
font-size:20px;
}
.coffee{
font-size:20px;
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
/*header*/
#photo{
width: 100%;
height: 210px;
}
.e { width:150px;
height: 150px;
margin: 13px 100px -1px 120px; }
input[type=submit] {font-size: 10px;
margin:-49px -254px -1px 257px;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin:20px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.container1{
width: 160px;
height: 150px;
display: inline-block;
padding: 30px 0px 0px 30px;
}
#menu{
font-size:20px;
}
.coffee{
font-size:20px;
}
}
@media only screen and (min-device-width: 375px) and
 (max-device-height: 812px) and (orientation : portrait){
/*footer*/
#design{width:100%;
height: 40px;
margin: 92px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
}

