

/*register*/
#photo{
background-color:#fbe1b1;
width:auto;
height:300px;
}
body {
margin: 0;
padding: 0;
}
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
text-decoration:none;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
text-decoration:none;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
text-decoration:none;
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
text-decoration:none;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
font-family:Time New Roman;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
#design{ 
width: 100%;
height: 60px;
background-color:#ff643d;
padding-top:10px;
left: 0;
bottom: 0;
}
.design{
padding: 0px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
font-family:Time New Roman;
}
body {
background-color:#fbe1b1;
font-family: sans-serif;
}
.main {
background-color:#ffff;
width: 600px;
height: 620px;
margin: 0px 0px 20px 460px;
border-radius:10px;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.16);
}
.sign {
padding-top: 40px;
color: #ff7e33;
font-family:  sans-serif;
font-weight: bold;
font-size: 23px;
}
.unn {
width: 86%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 0px;
border: none;
border-radius:10px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left:46px;
text-align: center;
margin-bottom: 20px;
font-family: 'Ubuntu', sans-serif;
background-color:#ffece2;
}
.ddd {
width: 86%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 0px 10px 200px;
border: none;
border-radius:10px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left:46px;
text-align: center;
margin-bottom: 20px;
font-family: 'Ubuntu', sans-serif;
background-color:#ffece2;
}
.acc {
width:86%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
background-color:#ffece2;
padding: 30px 20px;
border: none;
border-radius:10px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left:46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}
form.form1 {
padding-top: 40px;
}
.passs {
width: 86%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius:10px;
outline: none;
background-color:#ffece2;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left:46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}
.un:focus, .pass:focus {
border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
.submit {
cursor: pointer;
border-radius:10px;
color: #fff;
background: linear-gradient(to right, #ff7e33, #ff9c60);
border: 0;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 10px;
padding-top: 10px;
font-family: 'Ubuntu', sans-serif;
margin-left: 40%;
font-size: 13px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.forgot {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #ff9c60;
padding-top: 15px;
margin-left:20px;
}
a {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #ff9c60;
}
@media only screen and (max-width: 768px) {
/*Header & Footer*/
#photo{
width: 360px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -20px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: 0px 0px 0px 20px;
font-size:12px;}
ul .index a{
font-size:16px;
margin-left:3px;}
input[type=submit] {font-size:10px;
text-decoration:none;}
#design{width: 100%;
height: 40px;
margin: 20px 0px 0px 0px; }
.design{ font-size:12px;
text-align:center;
margin: 10px 0px 0px -10px;
}
/*Header & Footer*/
.main{ width:330px;
height:560px;
margin:0px 0px 0px 15px; }
.ddd{ margin: 20px 0px 0px 25px;
padding: 10px 0px 10px 100px; }
.unn{ margin: 20px 0px 0px 25px; }
.acc{ margin: 20px 0px 20px 25px; }
.passs{ margin: 20px 0px 0px 25px; }
.submit{margin:-20px 0px 0px 100px;}
.forgot{margin:10px 0px 0px 0px;
font-size:12px;}
.sign {
padding: 40px 0px 0px 0px;
margin-bottom:-30px;
color: #ff7e33;
font-family: sans-serif;
font-weight: bold;
font-size: 23px;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
/*header*/
#photo{
width: 768px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 300px; }
input[type=submit] {font-size: 10px;
margin: 0px -110px 0px 110px;;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin: 66px 0px 0px 0px }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.main{ width:700px;
height:600px;
margin:60px 0px 0px 34px; }
.ddd{ margin: 20px 0px 20px 50px;
padding: 10px 0px 10px 250px; }
.unn{ margin: -20px 0px 20px 50px; }
.acc{ margin:0px 0px 30px 50px; }
.passs{ margin: 0px 0px 0px 50px; }
.submit{margin:20px 0px 0px 280px;}
.forgot{margin:10px 0px 0px 0px;
font-size:12px;}
.sign {
padding: 40px 0px 0px 0px;
color: #ff7e33;
font-family: sans-serif;
font-weight: bold;
font-size: 23px;
margin-bottom:20px;
}
}
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
/*header*/
#photo{
width: 100%;
height: 210px;
}
.e { width:150px;
height: 150px;
margin: 13px 100px -1px 120px; }
input[type=submit] {font-size: 10px;
margin:-49px -254px -1px 257px;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin:20px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/
.main{ width:90%;
height:600px;
margin:60px 0px 0px 20px; }
.ddd{ margin: 20px 0px 20px 25px;
padding: 10px 0px 10px 100px; }
.unn{ margin: -20px 0px 20px 25px; }
.acc{ margin:0px 0px 30px 25px; }
.passs{ margin: 0px 0px 0px 25px; }
.submit{margin:20px 0px 0px 125px;}
.forgot{margin:10px 0px 0px 0px;
font-size:12px;}
.sign {
padding: 40px 0px 0px 0px;
color: #ff7e33;
font-family: sans-serif;
font-weight: bold;
font-size: 23px;
margin-bottom:20px;
}
}
