

/*body {font-family: Times New Roman;}
h1, h2, h3, h4, h5, h6 {
font-family: "Times New Roman";
letter-spacing: 5px;
}*/
#photo{
background-color:#fbe1b1;
width:auto;
height:300px;
}
body {
margin: 0;
padding: 0;
background-color:#fbe1b1;
}
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
#design{ 
width: 100%;
height: 60px;
background-color:#ff643d;
padding-top:10px;
/*position: fixed;*/
left: 0;
bottom: 0;
}
.design{
padding: 10px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
font-family:Time New Roman;
}
/*@media only screen and (max-width: 768px) {
/*Header & Footer*/
#photo{
width: 360px;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -30px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: -30px 0px 0px 20px;
font-size:12px;}
ul .index a{
font-size:16px;
margin-left:3px;}
input[type=submit] {font-size:10px;}
#design{width:100%;
height: 40px;
margin: 20px 0px 0px 0px; }
.design{ font-size:12px;
text-align:center;
margin: 10px 0px 0px -10px;
}
/*Header & Footer*/
}
*/

