

/*
Theme Name: Delicious
Theme URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
Author: BootstrapMade.com
Author URL: https://bootstrapmade.com
*/
body {
font-size: 15px;
line-height: 1.52;
color: #717f86;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
overflow-x: hidden;
height: 100%;
margin: 0;
padding: 0;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
#banner{
background: url(imgaes/banner-bg.jpg) no-repeat center top;
background-size: cover;
min-height: 630px;
}
.bg-color{
background-color:#fbe1b1 ;
min-height: 630px;
}
#banner h2{
font-family: 'Satisfy', sans-serif;
font-size: 45px;
color: #FFB03B;
}
#banner p{
font-family: 'PT Sans', sans-serif;
color: #fcfcfc;
font-size: 34px;
}
.section-padding{
padding:20px 0px;
margin-top:0px;
}
.logo-name{
font-family: 'Satisfy', sans-serif;
font-size: 65px;
margin-top: 140px;
color: #FFB03B;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 60px;
transition: 0.5s;
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #ff5a3d;
display: block;
transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
color: #f1f1f1;
}
.closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px !important;
margin-left: 50px;
}
#main {
transition: margin-left .5s;
padding: 20px;
}
.menu-icon
{
color: #ff5a3d
;
font-size: 30px;
margin-top: 30px;
cursor: pointer;
}
.header-h {
color:orange;
font-size: 46px;
font-family: 'Satisfy', sans-serif;
font-weight: 300;
}
.header-p {
color: #9699a6;
font-size: 16px;
}
.msg-row {
margin-top: 56px;
}
.media-body, .media-left, .media-right {
display: table-cell;
vertical-align: top;
}
.bg-13 {background-color: #ff5a3d;
width: 70px;
height: 70px;
border-radius: 50%;
}
.contact-icon {
color: #fff;
position: absolute;
left: 34px;
font-size: 32px;
margin-top: 18px;
}
.bg-1 {
background-color: #fecc17;
width: 70px;
height: 70px;
border-radius: 50%;
}
.bg-14 {
background-color: #ccdb38;
width: 70px;
height: 70px;
border-radius: 50%;
}
.dark-blue {
color: #31364c;
font-size: 24px;
margin-top: 0;
}
.light-blue {
color: #9699a6;
font-size: 16px;
margin-bottom: 1px;
}
.media-body {
margin-left: 10px;
padding-left: 13px;
}
.media-2 {
margin-top: 30px;
}
.newinput .form-group {
margin: 8px 0 9px !important;
padding-bottom: 10px;
}
.contact-form .form-control {
color: #000 !important;
font-size: 16px;
font-weight: normal;
height: 38px;
line-height: 1.42857;
padding: 7px 0;
}
.form-control, .form-group .form-control {
border: 0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
-webkit-background-size: 0 2px, 100% 1px;
background-size: 0 2px, 100% 1px;
background-repeat: no-repeat;
background-position: center bottom, center -webkit-calc(100% - 1px);
background-position: center bottom, center calc(100% - 1px);
background-color: rgba(0, 0, 0, 0);
-webkit-transition: background 0s ease-out;
-o-transition: background 0s ease-out;
transition: background 0s ease-out;
float: none;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 0;
}
.contact-form {
margin: 8px 0 9px !important;
padding-bottom: 10px;
}
.contact-form textarea.form-control {
color: #000 !important;
height: auto;
}
.contacts-btn {
background-color:  #FFB03B !important;
color: #ffffff !important;
width: 170px;
height: 54px;
border-radius: 3px;
font-size: 16px;
font-family: 'Roboto', sans-serif;
font-weight: normal;
text-transform: capitalize;
border: 0px;
color: #000 !important;
}
.validation {
color: red;
display:none;
margin: 0 0 20px;
font-weight:400;
font-size:13px;
}
#sendmessage {
color: green;
border:1px solid green;
display:none;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}
#errormessage {
color: red;
display:none;
border:1px solid red;
text-align:center;
padding:15px;
font-weight:600;
margin-bottom:15px;
}
#sendmessage.show, #errormessage.show, .show {
display:block;
}
.phone-in-talk, .hour-icon
{
font-size: 35px;
line-height: 70px;
color: rgb(255, 255, 255);
}
.heading{
font-family: 'Satisfy', sans-serif;
color: #FFB03B;
font-size: 24px;
}
.marb-35{
margin-bottom: 35px;
}
.details-list{
margin-top: 20px;
}
.details-list ul li i {
margin-right: 10px;
color: #ffb03b;
}
#about img
{
border: 5px solid rgb(255, 176, 59);
border-radius: 2px;
}
#event{
background: url('../img/res02.jpg') no-repeat;
background-size: cover;
}
.left-images img {
height: 308px;
width: 100%;
}
.left-images{
padding: 0px;
}
.details-text {
border-right: 2px solid #841b2d;
}
.details-text {
background-color: rgba(14, 4, 4, 0.70);
border-right: 2px solid #A87F41;
padding: 20px 20px 30px 30px;
overflow: auto;
}
.content-holder h2 {
color: #FFB03B;
font-size: 32px;
padding-bottom: 15px;
font-family: 'Satisfy', sans-serif;
}
.content-holder address strong {
color: #FFB03B;
padding: 10px 0px;
}
.details-text p {
color: #E8E8E8;
line-height: 26px;
letter-spacing: 1px;
font-weight: 300;
}
.btn-read-more {
background: #FFB03B;
padding: 7px 19px;
font-family: 'Roboto', sans-serif;
font-size: 12px;
line-height: 17px;
font-weight: 400;
letter-spacing: 1px;
border-radius: 3px;
color: #ff5a3d;
text-transform: uppercase;
margin-top: 10px;
}
.btn-read-more:hover
{
color: #000;
}
#Container .mix{
display: none;
}
.menu-restaurant{
width: 50%;
float: left;
padding: 15px;
position: relative;
}
.menu-restaurant .menu-title {
float: left;
font-family: Montserrat,arial;
text-transform: uppercase;
letter-spacing: 1px;
color: #FFB03B;
}
.menu-restaurant .menu-line {
position: absolute;
bottom: 6px;
border-bottom: 1px dotted rgba(0,0,0,.3);
margin-left: .6rem;
margin-right: .6rem;
}
.menu-restaurant .menu-price {
font-weight: 600;
position: absolute;
right: 0;
top: 0;
}
.menu-restaurant .menu-subtitle {
display: block;
float: left;
color: #B1B1B1;
font-family: Satisfy,'Open Sans',arial;
font-size: 1.2rem;
}
.menu-restaurant span.clearfix {
position: relative;
display: block;
}
#menu-flters ul li a.active, #menu-flters ul li a:hover {
background: #FFB03B;
color: #fff;
border: 1px solid #FFB03B;
}
#menu-flters ul li {
display: inline-block;
color: #fff;
text-transform: capitalize;
letter-spacing: 1px;
margin-bottom: 40px;
}
#menu-flters ul li a {
padding: 10px 20px;
font-size: 14px;
color: #565656;
border-radius: 0px;
border: 1px solid #BBBBBB;
text-decoration: none;
cursor: pointer;
}
.footer {
width: 100%;
background-color: #222;
position: relative;
z-index: 1;
}
.footer a {
color: #fff;
}
.footer .footer-top {
padding-top: 9rem;
padding-bottom: 5rem;
}
.footer .widget-title, .footer .widget-title a {
font-size: 1.4rem;
font-weight: 700;
letter-spacing: 0.2rem;
color: #ff5a3d;
}
.footer .widget-title{
padding-bottom: 20px;
font-family: 'Satisfy', sans-serif;
font-size: 44px;
color: #FFB03B;
}
.footer .widget, .footer address {
color: #999;
text-transform: none;
font-style: normal;
padding-bottom: 15px;
}
.footer .navigation, .footer .social-list {
float: none;
margin-bottom: 20px;
}
.list-horizontal li {
display: inline-block;
}
#contact{
background-color:#ff5a3d;
}
.footer .social-list a {
font-size: 32px;
font-weight: normal;
color: #ff5a3d;
text-transform: uppercase;
margin: 0 5px;
}
@media (min-width: 768px) and (max-width: 980px) {
.content-holder h2 {
font-size: 23px;
}
.details-text p {
line-height: 16.6px;
}
}
@media (min-width: 451px) and (max-width: 767px) {
.details-text {
border:0px;
border-bottom: 2px solid #A87F41;
}
}
@media (min-width: 20px) and (max-width: 450px) {
.menu-restaurant {
width: 100%;
}
.details-text {
border:0px;
border-bottom: 2px solid #A87F41;
}
.header-h {
font-size: 35px;
}
.header-p, body{
font-size: 14px;
}
.about-info, .mr-15{
margin-bottom: 15px;
}
#banner h2{
font-size: 25px;
}
#banner p{
font-size: 25px;
}
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
#photo{background-color:#fbe1b1;
width:auto;
height:300px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
}
li.index a:hover {
background-color:#ffa166
;
} 
body {font-family: Times New Roman;}
h1, h2, h3, h4, h5, h6 {
font-family: "Times New Roman";
letter-spacing: 5px;
}
#photo{
background-color:#fbe1b1;
width:auto;
height:300px;
}
body {
margin: 0;
padding: 0;
background-color:#fbe1b1;
}
.e{
width:300px;
height:300px; 
margin: 0px 0px -60px 600px;}
.un {
width: 60px;
color: coffee;
font-weight: 700;
font-size: 25px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left:1300px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
}
input[type=submit] {
padding: 0 12px;
height: 29px;
font-size: 12px;
font-weight: bold;
color: white;
text-shadow: 0 1px #e3f1f1;
background: #ff977a;
border: 1px solid;
border-color: #b4ccce #b3c0c8 #9eb9c2;
border-radius: 6px;
outline: 0;
}
input[type=submit]:active {
background:#ffe1cc;
border-color: #9eb9c2 #b3c0c8 #b4ccce;
-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.pass {
width:100px;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 10px;
border: none;
outline: none;
margin-bottom: 50px;
margin-left: 20px;
text-align: center;
margin-bottom: 27px;
font-family: sans-serif;
margin-top:20px;
}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 140px;
text-decoration: none;
font-size:25px;
font-family:Time New Roman;
}
li.index a:hover {
background-color:#ffa166
;
} 
#design{ 
width: 100%;
height: 60px;
background-color: #ff643d;
padding-top: 2px;

margin: 0px;
}
.design{
padding: 10px 0px 0px 30px; 
color:white;
font-size:16px;
text-align:center;
font-family:Time New Roman;
}
@media only screen and (max-width: 768px) {
/*Header & Footer*/
#photo{
width: 100%;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 0px 100px; }
.un{
width: 60px;
height: 4px;
margin: -30px 0px 0px 100px;
font-size:12px;
}
.pass{
width: 75px;
height: 4px;
margin: -30px 0px 0px 20px;
font-size:12px;}
ul .index a{
font-size:16px;
margin-left:3px;
font-family:Time New Roman;}
input[type=submit] {font-size:10px;}
#design{width:100%;
height: 40px;
margin: -37px 0px 0px 0px }
.design{ font-size:12px;
text-align:center;
margin:0px 0px 0px -10px;
}
/*Header & Footer*/
.left-images img{ width:300px;
height:200px;
margin: 0px 0px 20px 0px; }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
/*header*/
#photo{
width: 100%;
height: 210px;
}
.e { width: 160px;
height: 160px;
margin: 10px 0px 200px 300px;
}
input[type=submit] {font-size: 10px;
margin:0px -67px 0px 83px;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 60px;
margin:0px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 0px 0px 0px 0px;
} 
/*footer*/
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) 
and (orientation : portrait)  {

/*header*/
#photo{
width: 100%;
height: 210px;
}
.e { width:150px;
height: 150px;
margin: 13px 100px -1px 120px; }
input[type=submit] {font-size: 10px;
margin:-49px -254px -1px 257px;}
ul.index {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff7e33;
}
li.index {
float: left;
}
li.index a {
display: block;
color: white;
text-align: center;
padding: 10px 67px;
text-decoration: none;
font-size:16px;
}
li.index a:hover {
background-color:#ffa166
;
} 
/*header*/
/*footer*/
#design{width:100%;
height: 40px;
margin:20px 0px 0px 0px; }
.design{ font-size:16px;
text-align:center;
margin: 10px 0px 0px -10px;
} 
/*footer*/

